<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Order Burgers Online</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css" >
        <script type="text/javascript" src="js/menu.js"></script>
        <!-- Link both the JavaScipt and the Vue file to this document -->
        <script src="js/js_script.js" defer></script>
        <script src="https://vuejs.org/js/vue.js"></script>
        <script src="js/vue_script.js" defer></script>
    </head>
    <body>
      <main>
        <section id="banner">
          <h1>Welcome to BurgerHeaven Online</h1>
          <figure>
            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/burger-place-facebook-cover-advertisement-des-design-template-0143dde9c9e3da6e46174d6dc969faa8_screen.jpg?ts=1593871198" alt="">
          </figure>
        </section>

        <section id="select-burger" >
          <h2> Select burger</h2>
          <p>This is where you execute burger selection</p>

          <div id="burgers-list">

            <!-- This div is only for VueJs, comment this out for JavaScript -->
            <!-- Only displays allergy information if relevant(only if it contains gluten or lactose) -->
            <!-- a checkbox is added to every burger on the menu -->
            <div class='menu-item' v-for="burger in burgers">
              <h3>{{burger.name}}</h3>
              <figure>
                <img :src=burger.image alt="">
              </figure>
              <ul>
                  <li>{{burger.kCal}} kCal</li>
                  <li v-if="burger.hasLactose">Contains <span class="allergy">lactose</span></li>
                  <li v-if="burger.hasGluten">Contains <span class="allergy">gluten</span></li>
              </ul>
              <div class="cart-checkbox">
                <input type="checkbox" :id=burger.name :name=burger.name :value=burger.name>
                <label :for=burger.name> Add to Order</label>
              </div>
            </div>

          </div>
        </section>

        <section id="customer-info">
          <h2>Customer information</h2>
          <p>This is where you provide necessary information</p>
          <h3>Delivery Information</h3>

          <form class="delivery-form">
            <p>
              <label for="fullname">Full Name</label><br>
              <input type="text" id="fullname" name="fn" required="required" placeholder="First and Last name">
            </p>
            <p>
              <label for="email">E-mail</label><br>
              <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
            </p>
            <p>
              <label for="street">Street Name</label><br>
              <input type="text" id="street" name="sn" required="required" placeholder="Street name">
            </p>
            <p>
              <label for="house">House</label><br>
              <input type="number" id="house" name="hn" required="required" placeholder="House number">
            </p>
            <p>
              <label for="payment">Payment options</label><br>
              <select id="payment" name="payment">
                  <option selected="selected" value="Credit Card">Credit Card</option>
                  <option value="Debit Card">Debit Card</option>
                  <option value="Cash">Cash on Delivery</option>
                  <option value="Swish">Mobile payments (Swish)</option>
              </select>
          </p>
          <p>
            <label for="gender">Gender:</label><br>
            <input type="radio" id="male" name="gender" value="Male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="Female">
            <label for="female">Female</label><br>
            <input type="radio" id="non-binary" name="gender" value="non-Binary">
            <label for="non-binary">Non-binary</label><br>
            <input type="radio" id="undisclosed" name="gender" value="Undisclosed" checked>
            <label for="undisclosed">Undisclosed</label>
          </p>
          </form>
        </section>
        <div id="orders">
          <!-- For Javascript -->
          <!-- <button type="submit" id="order-button"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRI8uyIskmFnzEGgXKPYATDRlYZi7MDthLeEw&usqp=CAU" width="30" height="25"> Place my order!</button> -->

          <!-- This is only for VueJs, comment this out for JavaScript -->
          <!-- For VueJs, implemented the event listener for "order" button-->
          <button v-on:click="markDone()" type="submit" id="order-button"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRI8uyIskmFnzEGgXKPYATDRlYZi7MDthLeEw&usqp=CAU" width="30" height="25"> Place my order!</button>

          <!-- display the received order in the bottom of the customer's HTML page -->
          <div class="order-confirmation" v-if="orderInfo.length">
            <h2>Order confirmation</h2>
            <h3>Customer details</h3>
            <p>Name: {{orderInfo[0]}} <br>
              Email: {{orderInfo[1]}} <br>
              Deliver to: {{orderInfo[3]}}, {{orderInfo[2]}} <br>
              Payment Method: {{orderInfo[4]}} <br>
              Gender: {{orderInfo[5]}}
             </p>
             <h3>Order Summary</h3>
             <ul v-for="order in orderInfo[6]">
               <li>{{order}}</li>
             </ul>
          </div>
        </div>


        <footer><hr> <p>&#169; 2018 Hypothetical Burgers Inc.</p> </footer>
      </main>
    </body>
</html>
